<h1>Roomies</h1>

{{#each allRoommates}}
<section class="">
    <h2>{{Roommate.first_name}}</h2>
    <h3>Tasks:</h3>
    <ul>{{Task.task}}</ul>
    <h3>UOM:</h3>
    <ul>{{UOM.u}} - {{UOM.amount}}</ul>
    <h3>Events:</h3>
    <ul>{{Event.what}} - {{Event.date}}</ul> 
</section>
{{/each}}