<div class="header-window">
  <h1 class="content-header">Roomies</h1>
</div>

<div class="content-window">
  <div id="roomie-table">
    <div id="roomie-list">
        {{#each allRoommates}}
          <div class="roomie-block">
            <h2>{{this.first_name}}</h2>
            <div>
              <h3>Tasks</h3>
              <ul id="task-list">
                {{#each this.Tasks}}
                  <li class="task-list-item">{{this.task}}</li>
                {{/each}}
              </ul>
            </div>
            <div>
              <h3>Events</h3>
              <ul id="eventList">
                {{#each this.Events}}
                  <li class="eventBlock"><span>{{this.what}}</span><span>{{this.date}}</span>{{#if this.time}}<span>{{this.time}}</span>{{/if}}</li>
                {{/each}}
              </ul>
            </div>
            <div>
              <h3>UOMs</h3>
              <ul id="uom-list">
                {{#each this.owed_by}}
                  <li class="uom-list-item">{{this.owe.first_name}} owes me ${{this.amount}} for: {{this.what}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="./js/roommates.js"></script>